<div class="containar py-4">
  <div class="card col-sm-4 mx-auto text-center">
    <div class="card-body">
      <div class="h3 mt-1 mb-3">アカウント編集</div>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>    
    <div class="foprm-grou">
    <%= f.label :nickname, "ニックネーム(8文字以内必須)" %>
    <%= f.text_field :nickname, autofocus: true, placeholder: "例)アイスらぶ", maxlength: "8", class: "w-100 p-2 mb-4 rounded form" %>
    </div>
    <div class="foprm-grou">
    <%= f.label :email, "メールアドレス(必須)" %>
    <%= f.email_field :email, autofocus: true, placeholder: "例)example@example.com", class: "w-100 p-2 mb-4 rounded form" %>
    </div>   
    <div class="form-group">
    <%= f.label :description, "自己紹介(任意150文字以内)"%>
    <%= f.text_area :description, class: "form-control", placeholder: "例)アイス大好きです。特に抹茶味のアイスが大好きです。", class: "w-100 p-2 rounded form"  %>
    </div>
    <div class="field form-label mb-4">
    <%= f.label :プロフィール画像, class: "mb-4"%>
    <%= f.file_field :image, id: "preview" %>
    </div>
    <% if @user.image.present? %>
      <%= image_tag @user.image, class:"d-block mx-auto icon_image mb-4" %>
    <% else %>
      <%= image_tag "default_image.jpg", class: "round-img mb-4" %>
    <% end %>
    <div class="actions">
      <%= f.submit "編集する", class: "btn btn-primary rounded form mb-4" %>
    </div>

  <% end %>
      <%= link_to "アカウントを削除", user_registration_path, method: :delete, class:'btn btn-primary'%>
    </div>
  </div>
</div>