<%= image_tag avatar_url(@user), class: "round-img" %>
<h1><%= @user.nickname %></h1>
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "プロフィールを編集", edit_user_registration_path %>
<% end %>
<%= "#{@user.nickname}さんが今まで食べたアイスの合計金額は#{@total_price}円です" %>
<%= "#{@user.nickname}さんが今まで食べたアイスの合計カロリーは#{@total_calorie}kcalです"%>
<%= @user.description %>
<%= render partial: "posts/post", collection: @posts %>

