<div class="container py-4">
  <div class="row">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <% if @user.image.present? %>
            <%= image_tag(@user.image.url) %>
              <% else %>
            <%= image_tag "/assets/default_image.png", class: "round-img" %>
          <% end %>
    </div>
    <div class="col-aoto">
      <div class="card-body">
        <%= area_chart @data.group_by_day(:created_at).sum(:price), xtitle: "使った金額", ytitle: "円",width: "600px", height: "300px" %>
        <%= area_chart @data.group_by_day(:created_at).sum(:calorie), xtitle: "カロリー", ytitle: "kcal",width: "600px", height: "300px" %>
      </div>
    </div>
  </div>
</div>
     <div class="col-lg-12">
        <div class="card-body">

            
<h1><%= @user.nickname %></h1>
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "プロフィールを編集", edit_user_registration_path %>
<% end %>
<%= "#{@user.nickname}さんが今まで食べたアイスの合計金額は#{@total_price}円です" %>
<%= "#{@user.nickname}さんが今まで食べたアイスの合計カロリーは#{@total_calorie}kcalです"%>
<%= @user.description %>
         </div>
      <div class="row">
          <%= render partial: "posts/post", collection: @posts %>
          <%= paginate @posts %>
      </div>
      
  </div>
  
</div>
   