<div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
    <div class="card-img-top">
    <% if post.image.present? %>
      <%= link_to image_tag(post.image), post_path(post.id), method: :get %>
    <% else%>
      <%= link_to "投稿の詳細へ", post_path(post.id), method: :get %>
    <% end %>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= post.content %>
      </p>
      <p class="card-summary">
        アイスの値段<%= post.price %>円
      </p>
      <p class="card-summary">
        アイスのカロリー<%= post.calorie %>kcal
      </p>
      <div class="care-user">
        <%= link_to "by #{post.user.nickname}", user_path(post.user, method: :get, class: :card__user) %>
      </div> 
      <div>
        <%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
      </div>
      <div>
        <%= render 'likes/like', post: post %>
      </div>
    </div>
  </div>
</div>