<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-info h-100">
    <div class="card-header text-center badge ">
      <%= link_to "#{post.user.nickname}さんの投稿です", user_path(post.user, method: :get) %>
    </div>
    <div class="card-body border-bottom">
      <%= link_to image_tag(post.image), post_path(post.id), method: :get, class:"card-img-top embbed-responsive"%>
    <p class="card-text">
        <%= post.content %>
    </p>
  
  </div>
    <div class="card-footer text-center">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <% if post.tag_list.any? %>
        <% post.tags.each do |tag| %>
          <%= link_to posts_path(tag: tag.name) do %>
            <div class="badge badge badge-info"><%="#{tag.name}(#{tag.taggings_count})"%></div>
          <% end %>
        <% end %>
      <% end %>
      <span><%= render 'likes/like', post: post %> </span>
    </li>
  </ul>
      <a> <%= link_to "詳細ページへ", post_path(post.id), method: :get, class:'btn btn-primary' %></a>
    </div> 
  </div>
</div>
