<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <h1 class="my-4 text-center alert alert-info rounded-circle font-italic ">人気タグ</h1>
        <div class="list-group text-break">
            <% @tags.each do |tag|%>
              <%= link_to posts_path(tag: tag.name) do%>
                <div class="badge badge badge-info"><%= "#{tag.name}(#{tag.taggings_count})" %></div>
            <%end%>
              <%end%>
        </div>
    </div>
      <div class="col-lg-10">
        <div class="previews">
          <div class="slider">
            <% @randams.each do |randam| %>
              <%= link_to image_tag(randam.image), post_path(randam.id), method: :get, class: :slick_image %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <%= render partial: "post", collection: @posts %>
        </div>
        <%= paginate @posts %>
      </div>
  </div>
</div>





