<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">人気のタグ</h1>
        <div class="list-group">
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "list-group-item"%>
          <% end %> 
        </div>
    </div>
      <div class="col-lg-9">
        <div id="carouselExampleIndicators" class="carousel slide  my-4" data-ride="carousel" data-interval="2000">
          <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <% @posts.drop(1).count.times do |index| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="#{index}"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% @posts.first(1).each do |post| %>
                <%= link_to image_tag(post.image), post_path(post.id), method: :get, class: "carousel_image"%>
              <% end %>
            </div> 
              <% @posts.drop(1).each do |post| %>
            <div class="carousel-item">
                <%= link_to image_tag(post.image), post_path(post.id), method: :get, class: "carousel_image"%>
            </div>
              <% end %>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
        <div class="row">
          <%= render partial: "post", collection: @posts %>
        </div>
      </div> 
  </div>
</div>



<%= paginate @posts %>





