<div class="containar py-4">
  <div class="card col-sm-5 mx-auto  text-center">
    <div class="card-body">
      <h3 class="mt-1 mb-3">感想を投稿</h3>
        <%= form_with(model: @post, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :content, "アイスの感想(必須150文字以内)"%>
        <%= f.text_area :content, class:"content-text", maxlength: "150",placeholder: "例)抹茶味のアイスでした。濃厚でコクがあってとても美味しかったです。でもちょっと高かったかな？(T ^ T)", class: "w-100 p-2 rounded form"  %>
      </div>

      <div class="form-group">
        <%= f.label :price, "アイスの値段(任意半角数字)"%>
        <%= f.text_field :price, class:"price-text", maxlength: "3",placeholder: "例)150", class: "w-100 p-2 rounded form" %>
      </div>
    
      <div class="form-group">
        <%= f.label :calorie, "アイスのカロリー(任意半角数字)"%>
        <%= f.text_field :calorie, class:"calorie-text", maxlength: "3",placeholder: "例)300", class: "w-100 p-2 rounded form" %>
      </div>

      <div class="tags">
        <%= f.label :tag_list, ",かエンターキーでタグ付けができます(タグは最大8文字,5個まで)" %>
        <%= text_field_tag 'post[tag_list]', @post.tag_list.join(","), data: {role: "tagsinput"}  ,placeholder: "例)抹茶,バニラ,濃厚"%>
      </div>

      <div class="m-3">
          <%= f.label :image, "アイスの写真(必須)"%><br>
          <%= f.file_field :image, id:"post-image" %>
        <%= image_tag @post.image, id: 'post-image' if @post.image.present? %> 
      </div>
    <div class="caution">
      無関係な投稿や他者への誹謗中傷はご遠慮ください
    </div>
    <div id="image-list"></div>
    <div class="post-btn-contents">
      <%= f.submit "投稿する" ,class: "btn btn-primary rounded form mb-4" %>
    </div>
    <% end %>
  </div>
  </div>
</div>


