<!DOCTYPE html>
<html>

<head>
  <title>シェアあいす！</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<%= render 'shared/flash_message' %>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <div class="navbar-brand ">
        <%= link_to 'シェアあいす!', root_path%>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%# <div class="searchbox">
            <%= search_form_for @search, url: posts_path do |f| %>
            <%# <%= f.text_field :content_cont ,placeholder: '投稿の検索ができます...' %>
            <%# <%= f.submit ("検索") , class: 'search-btn'%>
          <%# <% end %>
      <%# </div> %>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'トップページ', root_path, class: "nav-link btn btn-sm btn-outline-secondary" %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to '新規投稿', new_post_path, class: "nav-link btn btn-sm btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ユーザー詳細', user_path(current_user), class: "nav-link btn btn-sm btn-outline-secondary" %>
            </li>
          </li> 
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link btn btn-sm btn-outline-secondary" %>
            </li>
              <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: "nav-link btn btn-sm btn-outline-secondary","data-toggle": "modal", "data-target": "#signinModal" %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: "nav-link  btn btn-sm btn-outline-secondary" %>
            </li>
            <li class="nav-item">
              <%= link_to 'かんたんログイン', users_guest_sign_in_path, method: :post, class: "nav-link  btn btn-sm btn-outline-secondary" %>
            </li>
            <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header> 
  <div class="jumbotron-1 ">
    <div class="container">   
      <%= yield %>
      <%= render "devise/sessions/new" %>
    </div>
  </div>
  <footer class="d-flex justify-content-center align-items-end bg-dark">
    <div class="text-light">© 2021 share-ice!</div>
  </footer>
</body>

</html>