<!DOCTYPE html>
<html>

<head>
  <title>シェアあいす！</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<%= link_to "新規登録", '#' %>
<%= link_to "ログイン", '#' %>
<%= link_to "ログアウト", '#' %>
<%= link_to "新規投稿", "#" %>
  <%= yield %>
</body>

</html>